<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="../../css/reset.css">
<link rel="stylesheet" href="../../css/base.css">
<link rel="stylesheet" href="../../css/layout.css">
    <title>Page Title</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home </a>
            <a href="/maybellineProducts">All Product </a>
            <a href="/addProduct">My Product </a>
        </nav>

    </header>
    <main>
<h1>The Product was Added</h1>
    </main>
    <footer>
        <h3>
            All Rights Reserved 2021 &#174
        </h3>
    </footer>
    
</body>
</html>