<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>home page</title>
<body>
    <header>
        <a href="/maybellineProducts">All Product </a>
    </header>
    <main>
        <div class="card">
            <div class="cardHome">
                <form action="/product">
                    <input type="text" placeholder="Add Brand name">
                    <input type="text" name="greater" value="greater">
                    <input type="text" name="less" value="less">

                    <button type="submit">Get</button>
                </form>
            </div>

        </div>
    </main>
    <footer>
    
    </footer>
</body>
</html>