<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="card">
            <div class="myCard">
                <% data.forEach(val =>{%>
                    <h2><%= val.name%></h2>
                    <img src="<%= val.img%>" alt="">
                    <h3><%= val.price%></h3>
                    <h3><%val.description%></h3>

                    <button><a href="/details">View Details</a></button>
               <% })%>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>