<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Product by price</title>
</head>
<body>
    <header>

    </header>
    <main>

        <div class="card">
            <div class="cardPrice">
                <% data.forEach(val =>{%>

                    <h2><%= val.name</h2>
                    <img src="<%= data.img%>" alt="">
                    <h3><%= val.price</h3>
                    <h3><%= val.description</h3>

               <% }) %>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>